@charset "UTF-8";
/*CSS Doc*/
body
{
	background: #464646;
}
#siteContainer
{
	
	width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: white;
}
.hidden
{
	display: none;
}
#mainHeader
{
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo
{
	position: absolute;
	width: 20%;
}
#mainContainer
{
	padding: 40px;

}
p
{
	font-size: 20px;
	line-height: 1.8;
	color: #62e1c1;
	text-align: justify;
	font-family: 'Noto Sans', sans-serif;
}
.bold
{
	font-weight: bold;
	font-size: 30px;
	line-height: 2;
	border-bottom: 1px black;

}


#source
{
	font-size: 15px;
	padding-left: 320px;
}
h3
{
	font-size: 60px;
	line-height: 1;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: bolder;
	color: #62e1c1;
}

#initial
{
	font-size: 40px;
}

#headerImage
{
	width: 1024px;
}

#image1
{
	float: right;
	margin: 40px;
	margin-top: 0;
}

#image2
{
	width: 980px;

}

#imageFlex
{
	display: flex;
	justify-content: space-between;
}


#textFlex p
{
	width: 450px;
}

#textFlex
{
	display: flex;
	justify-content: space-between;
}

#mainFooter
{
	height: 80px;
	background: #62e1c1;
	width: 1024px;
	margin-top: 30px;
}
